body {
	font-family: helvetica;
	background-color: #f9f8eb

}

p {

	color: #504940;
	margin-stop: -15px;
	margin-bottom: 20px;
}

.gameTitle {
	color: #635b52;
}




.testButton {

	background: #eaded2;
	color: #635b52;

	height: 70px;
	width: 70px;

	border: 5px solid green;
	border-radius: 5px;

	padding: 5px;
	margin: 0 10px 0 10px;
}

.testButton_1 {
	border-color: #f1462d;
}
.testButton_2 {
	border-color: #f1644d;
}
.testButton_3 {
	border-color: #f18152;
}
.testButton_4 {
	border-color: #e8bd3f;
}


.buttonContainer {

	width: 400px;
	height: 200px;


	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: -200px;

	text-align: center;
	background-color: #c1b3a4;
	border-radius: 10px;
}

.numberDisplay {

	width: 200px;
	height: 100px;

	position: absolute;
	top: 50px;
	left: 50%;
	margin-left: 250px;

	padding: 50px 0 ;

	text-align: center;
	font-size: 70px;

	color: #504940;
	background-color: #c1b3a4;
	border-radius: 10px;

}


.secretImage {
	
	position: absolute;
	top: 300px;
	left: 50%;
	margin-left: -200px;

	width: 400px;
	height: 400px;

	background-color: #c1b3a4;
	border-radius: 10px;
}

.footer {

}











